/test-reports/
junit.xml
/coverage/
permissions-backup.acl
/.mergify.yml
/cdk/test/
/cdk/tsconfig.dev.json
/cdk/src/
!/cdk/lib/
!/cdk/lib/**/*.js
!/cdk/lib/**/*.d.ts
dist
/cdk/tsconfig.json
/.github/
/.vscode/
/.idea/
tsconfig.tsbuildinfo
/cdk/.eslintrc.json
!/assets/
cdk/cdk.out/
.cdk.staging/
/.gitattributes
